section {
	max-width: 1440px;
	margin: 0 auto;
	padding: 60px 0px 60px 0px;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.homeContentContainer {
	position: relative;
	max-width: 640px;
	margin: 0 auto;
}

.todayWeatherContainer {
	margin-bottom: 60px;
}

.todayWeatherContainer span {
	font-weight: bold;
}

.todayWeatherContainer .info {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 20px;
}

.heading {
	margin-bottom: 45px;
	font-size: 28px;
}

.subHeading {
	font-weight: 400;
	margin-bottom: 20px;
}

.weatherDescriptionContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 100px;
	margin-bottom: 20px;
}

.weatherDescriptionContainer img {
	height: 90px;
}

.skeletonContainer {
	position: absolute;
	top: 0;
	left: 0;
}

.weatherDescriptionContainer > p {
	display: flex;
	flex-direction: row;
	font-size: 40px;
	gap: 5px;
}

.weatherDescriptionContainer
	.todayDescriptionSkeletonContainer
	span:not(:last-of-type) {
	margin-bottom: 10px;
}

.weatherDescriptionContainer ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.weatherDescriptionContainer ul li {
	display: flex;
	gap: 8px;
	align-items: center;
}

.weatherDescriptionContainer ul li p {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.astrologyContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.astrologyContainer li {
	display: flex;
	align-items: center;
	gap: 10px;
	line-height: 1;
}

.astrologyContainer li:not(:last-child) {
	border-right: 1px solid #fff;
	padding-right: 17px;
}

.astrologyContainer li p {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.forecastContainer {
	margin-bottom: 50px;
}

.forecastContainer:nth-last-of-type(1) {
	margin-bottom: unset;
}

.forecastContainer h2 {
	text-align: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #fff;
}

.forecastContainer ul {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 600px) {
	.homeContentContainer {
		padding: 0 10px 0 10px;
	}

	.weatherDescriptionContainer {
		gap: unset;
	}

	.weatherDescriptionContainer .skeletonContainer {
		left: 50%;
		transform: translateX(-50%);
	}

	.astrologyContainer {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 15px;
		justify-items: center;
	}

	.astrologyContainer li:not(:last-child) {
		border-right: unset;
		padding-right: unset;
	}
}

@media screen and (max-width: 500px) {
	.weatherDescriptionContainer {
		flex-direction: column;
		gap: 20px;
		margin-bottom: 30px;
	}

	.subHeading {
		font-size: 19px;
	}

	.hourlyForecastWrapper {
		overflow-x: scroll;
		padding-bottom: 10px;
	}

	.forecastContainer .hourlyForecastWrapper ul {
		width: 500px;
	}

	.hourlyForecastWrapper::-webkit-scrollbar {
		height: 6px;
	}

	.hourlyForecastWrapper::-webkit-scrollbar-track {
		background-color: none;
	}

	.hourlyForecastWrapper::-webkit-scrollbar-thumb {
		background-color: #2196f3;
		border-radius: 12px;
	}

	/* Handle on hover */
	.hourlyForecastWrapper::-webkit-scrollbar-thumb:hover {
		background-color: #1976d2;
	}
}

@media screen and (max-width: 385px) {
	.subHeading {
		height: 46px !important;
	}
}

@media screen and (max-width: 325px) {
	.astrologyContainer {
		grid-template-columns: repeat(1, 1fr);
	}
}
