section {
	max-width: 1440px;
	margin: 0 auto;
	padding: 60px 0px 60px 0px;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.homeContentContainer {
	position: relative;
}

.todayWeatherContainer {
	max-width: 600px;
	margin: 0 auto 60px auto;
}

.todayWeatherContainer span {
	font-weight: bold;
}

.todayWeatherContainer .info {
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 20px;
}

.heading {
	margin-bottom: 45px;
	font-size: 28px;
}

.subHeading {
	font-weight: 400;
	margin-bottom: 20px;
}

.weatherDescriptionContainer {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 100px;
	margin-bottom: 20px;
}

.weatherDescriptionContainer img {
	height: 90px;
}

.skeletonContainer {
	position: absolute;
	top: 0;
	left: 0;
}

.weatherDescriptionContainer > p {
	display: flex;
	flex-direction: row;
	font-size: 40px;
	gap: 5px;
}

.weatherDescriptionContainer .todayDescriptionSkeletonContainer span:not(:last-of-type) {
	margin-bottom: 10px;
}

.weatherDescriptionContainer ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.weatherDescriptionContainer ul li {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
}

.weatherDescriptionContainer ul li p {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.weatherDescriptionContainer ul li span {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
}

.astrologyContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

.astrologyContainer li {
	display: flex;
	align-items: center;
	gap: 10px;
	line-height: 1;
}

.astrologyContainer li:not(:last-child) {
	border-right: 1px solid #fff;
	padding-right: 10px;
}

.astrologyContainer li p {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
}

.astrologyContainer li p span {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3px;
}

.forecastContainer {
	max-width: 600px;
	margin: 0 auto 50px auto;
}

.forecastContainer h2 {
	text-align: left;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #fff;
}

.forecastContainer ul {
	display: flex;
	justify-content: space-between;
}

.forecastContainer li div p:last-child {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
