.animationContainer {
	position: relative;
	height: 70px;
}

.imageWrapper {
	width: 64px;
	height: 64px;
}

.skeletonContainer {
	position: absolute;
	top: 0;
	left: 0;
}

.cursorPointer {
	cursor: pointer;
}

p:last-child {
	font-weight: bold;
}
