.layout {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.animationContainer {
	clip-path: circle(50% at 50% 50%);
	overflow: hidden;
}

.logoContainer {
	display: flex;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.logoContainer span {
	font-size: 28px;
}

.circle {
	height: 100%;
	width: 100%;
}

.movingAnimationContainer {
	position: absolute;
	left: -30%;
	top: 2%;
	display: flex;
	flex-direction: column;
}

.movingLogoWrapper {
	display: flex;
	flex-wrap: nowrap;
}

.movingLogoContainer {
	display: flex;
	align-items: center;
}
